[Unit]
Description=Disable lid wakeup

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo LID > /proc/acpi/wakeup'

[Install]
WantedBy=multi-user.target
